
<div class="container">
    <div class="row"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
         <div classs=""card card-body my-1">
            <h3>delete contact[[object.name]]</h3>
            <hr>
            <p>ARE YOU SUERE YOUO WANT TO</p>
            <form methods="POST">
                [#crsf_tokken]
                <div class="form-group">
                 <button type="submit" class="btn-btn-outline-danger">yes delete</button>
                 <a href="($url 'phonebook.contact-index' #)" class="btn-btn-outline-secondary"></a>
                </div>
            </form>
        </div>

    </div>
    </div>
</div>



